body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0a0a0e;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}

.panel {
    width: 260px;
    background-color: #111117;
    height: 100vh;
    position: fixed;
}

#greeting {
    height: 43px;
    width: 100%;
    background-color: #0f0f14;
    display: flex;
    justify-content: center;
    align-items: center;
}

#greeting img {
    width: 290px;
    display: block;
}

.outstand {
    color: #09cdfd;
}

.panel-list {
    padding-left: 30px;
    text-transform: uppercase;
    margin-top: 50px;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    color: #e4ebf4;
}

ul > li {
    padding: 9px 0 9px 0;
    display: block;
    transition: 0.1s all ease-in-out;
    opacity: 0.7;
    position: relative;
}

ul > li:after {
    display: inline-block;
    position: absolute;
    right: 45px;
}

ul > li:hover {
    opacity: 1;
    cursor: pointer;
}

ul > li > i {
    padding-right: 10px;
}

.list-title {
    color: #4a5769;
        display: block;
}

.red {
    color: #dc6565;
}

.list {
    margin-top: 20px;
}

.inactive {
    opacity: 0.2;
}

sup {
    font-size: 10px;
    color: #09cdfd;
}

#online-users {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#online-users li {
    padding-left: 30px;
}

#online-users li:after,
.no-arrow:after {
    display: none;
}

#online-users img {
    height: 25px;
    position: absolute;
    top: 5px;
    left: 0;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    margin-right: 45px;
    top: 14px;
    right: -20px;
    width: 30px;
    height: 9px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: -2px;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    top: -1px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}


#personalize-content {
    position: relative;
    margin-left: 26px;
    border-top: 1px solid rgba(255, 255, 255, 0.13);
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    padding: 5px 0;
}

#personalize-content img {
    width: 50px;
    display: block;
    padding: 5px 0;
}

#send-file {
    padding: 3px 30px;
}

.button-main {
    border: none;
    background: none;
    border: 1px solid #09cdfd;
    color: #09cdfd;
    transition: 0.2s all ease-in-out;
}

.button-main:hover {
    background-color: #09cdfd;
    color: #111117;
    cursor: pointer;
}

#send-file-core {
    display: none;
}

#send-link {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: none;
    color: rgba(255, 255, 255, 0.34);
    padding: 3px 0;
    margin: 5px 0;
    width: 177px;
    text-align: center;
}

#send-link:focus {
    outline: none;
    border-color: #09cdfd;
}

#personalize-avatar-menu {
    position: relative;
    left: 0px;
}

#submit-avatar {
    margin: 5px 0;
    padding: 6px 0;
    width: calc(100% - 8px);
}

.hidden {
    display: none;
}

.panel-footer {
    height: 42px;
    width: 312px;
    background-color: #0f0f14;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.48);
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-window {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 260px);
    height: auto;
    min-height: calc(100vh - 125px);
    margin-bottom: 25px;
}

#chat-panel {
    width: calc(100% - 260px);
    height: auto;
    position: fixed;
    bottom: 0;
    right: 0;
    border-top: 1px solid #1d1d22;
    background-color: #0a0a0e;
}

#chat-panel form {
    white-space: nowrap;
}

#chat-input {
    width: 60%;
    padding: 15px 15px;
    margin-top: 0px;
    background: none;
    border: 0;
    color: rgba(255, 255, 255, 0.56);
}

#chat-input:focus {
    outline: 0;
}

#chat-input-submit {
    background-color: #14141b;
    width: 100px;
    height: 37px;
    border: none;
    color: #acbfc5;
    text-transform: uppercase;
    transition: 0.2s all ease-in-out;
    display: none;
}

#chat-input-submit:hover {
    background-color: #09cdfd;
    color: #0a0a0e;
    cursor: pointer;
}

.chat-input-emoticons {
    width: 37px;
    height: 37px;
    background-color: #14141b;
    border: 0;
    color: #acbfc5;
}

#chat-window {
    padding: 50px;
    box-sizing: border-box;
}



.message-box {
    width: auto;
    margin-bottom: 10px;
    height: auto;
    opacity: 0;
    animation: fadeIn 0.1s ease-in-out forwards;
}

.message-box img {
    width: 51px;
    border-radius: 3px;
    float: left;
}

.message {
    display: inline-block;
    background-color: rgba(226, 226, 226, 0.86);
    padding: 9px;
    margin-left: 10px;
    border-radius: 3px 7px 7px 3px;
    color: black;
    font-size: 14px;
    max-width: 70%;
    text-align: left;
    opacity: 0;
    
    word-break: break-all;
    animation: fadeIn 0.2s ease-in-out forwards;
    animation-delay: 0.2s;
}

.details {
    text-transform: uppercase;
    font-size: 11px;
    opacity: 0.9;
    margin-bottom: 3px;
    margin-left: 61px;
}

.sendby-user {
    text-align: right;
    height: auto;
}

.sendby-user img {
    float: right;
}

.sendby-user .details {
    margin-right: 61px;
}

.sendby-user .message {
    float: right;
    margin: 0 10px 0 0;
    border-radius: 7px 3px 3px 7px;
    background-color: #09cdfd;
}

.attachment img {
    width: auto;
    height: auto;
    display: block;
    float: right;
    margin-right: 10px;
    max-width: 30%;
    max-height: 30%;
    border-radius: 10px;
}

.attachment img:hover {
    cursor: pointer;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    width: 100px;
}

.date-mark {
    margin: 0 auto;
    text-align: center;
    opacity: 0.3;
}

.mobile-menu {
    width: 100%;
    height: 55px;
    background-color: #0b0b0f;
    border-bottom: 1px solid #1a1a21;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 100;
}

#mobile-menu-toggle, 
#mobile-menu-toggle:after,
#mobile-menu-toggle:before {
    display: none;
    content: '';
    width: 30px;
    height: 3px;
    background-color: #acb1bf;
    position: fixed;
    top: 26px;
    left: 23px;
    z-index: 700;
    transition: 0.2s all ease-in-out;
}

#mobile-menu-toggle:before {
    top: 33px;
    left: 23px;
}

#mobile-menu-toggle:after {
    left: 23px;
    top: 19px;
}

.mobile-menu-close,
.mobile-menu-close:after,
.mobile-menu-close:before {
    top: 22px !important;
    width: 20px !important;
}

.mobile-menu-close {
    background: none !important;
}

.mobile-menu-close:after {
    display: none;
    transform: rotateZ(45deg);
}

.mobile-menu-close:before {
    transform: rotateZ(-45deg);
}

.chat-name {
    display: block;
    width: 100px;
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
    margin: 0 auto;
}

#submit-message {
    display: none;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #2c2c2c;
}

::-webkit-scrollbar
{
	width: 2px;
	background-color: rgba(245, 245, 245, 0.45);
}

::-webkit-scrollbar-thumb
{
	background-color: #09cdfd;
    height: 100px;
}


@keyframes fadeIn {
    0% { transform: translateX(-5px);}
    100% { transform: translateX(0); opacity: 1;}
}


@media only screen and (max-width: 780px) {
    .panel {
        left: -260px;
        transition: 0.2s all ease-in-out;
        z-index: 200;
        overflow-y: auto;
    }
    
    ul {
        font-size: 11px;
    }
    
    li {
        padding: 0;
    }
    
    .panel-list {
        margin-top: 10px;
    }
    
    #chat-window {
        padding: 20px;
        padding-top: 70px;
    }
    
    #chat-window, #chat-panel {
        left: 0;
        width: 100%;
    }
     
    .mobile-menu,
    #mobile-menu-toggle,
    #mobile-menu-toggle:after,
    #mobile-menu-toggle:before {
        display: block;
    }
    
    .details {
        font-size: 7px;
    }
    
    .attachment img {
        max-width: 200px;
        min-width: 200px;
    }
    
    .message-box img {
        width: 43px;
        border-radius: 50%;
    }
    
    .message {
        border-radius: 5px 10px 10px 5px;
        font-size: 11px;
    }
    
    .active-panel {
        left: 0; !important;
    }
    
    #chat-input {
        width: 80%;
        background: none;
        border: 0;
        margin: 0;
        padding: 10px 0 10px 10px;
        font-size: 11px;
        border-radius: 30px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }
    
    #chat-input:focus {
        position: relative;
    }
    
    .details {
        margin-left: 53px;
    }
    
    .sendby-user .details {
        margin-left: 0;
        margin-right: 53px;
    }
    
    .sendby-user .message {
        border-radius: 10px 5px 5px 10px;
    }
    
    #chat-panel {
        height: auto;
        padding: 4px 0 4px 0;
        border: none;
        text-align: center;
    }
    
    #submit-message {
        display: inline-block;
        width: 34px;
        height: 34px;
        margin-left: 5px;
        border-radius: 50px;
        border: none;
        font-size: 18px;
        background-color: #09cdfd;
        color: #151515;
    }
    
    #submit-message:focus {
        outline: 0;
    }
}