body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0a0a0e;
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}

.panel {
    width: 313px;
    background-color: #111117;
    height: 100vh;
    position: fixed;
}

#greeting {
    height: 43px;
    width: 100%;
    background-color: #0f0f14;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outstand {
    color: #09cdfd;
}

.panel-list {
    padding-left: 45px;
    text-transform: uppercase;
    margin-top: 50px;
}

ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-size: 14px;
    color: #e4ebf4;
}

ul > li {
    padding: 9px 0 9px 0;
    display: block;
    transition: 0.1s all ease-in-out;
    opacity: 0.7;
    position: relative;
}

ul > li:after {
    display: inline-block;
    position: absolute;
    right: 45px;
}

ul > li:hover {
    opacity: 1;
    cursor: pointer;
}

ul > li > i {
    padding-right: 10px;
}

.list-title {
    color: #4a5769;
        display: block;
}

.red {
    color: #dc6565;
}

.list {
    margin-top: 20px;
}

.inactive {
    opacity: 0.2;
}

sup {
    font-size: 10px;
    color: #09cdfd;
}

#online-users {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#online-users li {
    padding-left: 30px;
}

#online-users li:after,
.no-arrow:after {
    display: none;
}

#online-users img {
    height: 25px;
    position: absolute;
    top: 5px;
    left: 0;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    margin-right: 45px;
    top: 14px;
    right: 0;
    width: 30px;
    height: 9px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: -2px;
    left: 0px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    top: -1px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(17px);
  -ms-transform: translateX(17px);
  transform: translateX(17px);
}

.light {
    background-color: #efefef;
}

#personalize-content {
    position: relative;
    margin-left: 26px;
    border-top: 1px solid rgba(255, 255, 255, 0.13);
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    padding: 5px 0;
}

#personalize-content img {
    width: 50px;
    display: block;
    padding: 5px 0;
}

#send-file {
    padding: 3px 30px;
}

.button-main {
    border: none;
    background: none;
    border: 1px solid #09cdfd;
    color: #09cdfd;
    transition: 0.2s all ease-in-out;
}

.button-main:hover {
    background-color: #09cdfd;
    color: #111117;
    cursor: pointer;
}

#send-file-core {
    display: none;
}

#send-link {
    border: 1px solid rgba(255, 255, 255, 0.18);
    background: none;
    color: rgba(255, 255, 255, 0.34);
    padding: 3px 0;
    margin: 5px 0;
    width: 177px;
    text-align: center;
}

#send-link:focus {
    outline: none;
    border-color: #09cdfd;
}

#personalize-avatar-menu {
    position: absolute;
    top: 28px;
    left: 55px;
}

#submit-avatar {
    margin: 5px 0;
    padding: 6px 0;
    width: calc(100% - 8px);
}

.hidden {
    display: none;
}

.panel-footer {
    height: 42px;
    width: 312px;
    background-color: #0f0f14;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.48);
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-window {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 312px);
    height: auto;
    margin-bottom: 35px;
}

#chat-panel {
    width: calc(100% - 313px);
    height: 75px;
    position: fixed;
    bottom: 0;
    right: 0;
    border-top: 1px solid #1d1d22;
    text-align: center;
    background-color: rgba(10, 10, 14, 0.9);
}

#chat-panel form {
    white-space: nowrap;
}

#chat-input {
    width: 70%;
    padding: 10px 10px;
    margin-top: 20px;
    background-color: #0f0f14;
    border: 1px solid #0f0f14;
    color: rgba(255, 255, 255, 0.56);
}

#chat-input:focus {
    outline: 0;
    border-color: rgba(255, 255, 255, 0.11);
}

#chat-input-submit {
    background-color: #14141b;
    width: 100px;
    height: 37px;
    border: none;
    color: #acbfc5;
    text-transform: uppercase;
    transition: 0.2s all ease-in-out;
}

#chat-input-submit:hover {
    background-color: #09cdfd;
    color: #0a0a0e;
    cursor: pointer;
}

.chat-input-emoticons {
    width: 37px;
    height: 37px;
    background-color: #14141b;
    border: 0;
    color: #acbfc5;
}

#chat-window {
    padding: 50px;
    box-sizing: border-box;
}



.message-box {
    width: auto;
    margin-bottom: 10px;
    height: auto;
    opacity: 0;
    animation: fadeIn 0.1s ease-in-out forwards;
}

.message-box img {
    width: 51px;
    border-radius: 3px;
    float: left;
}

.message {
    display: inline-block;
    background-color: rgba(226, 226, 226, 0.86);
    padding: 9px;
    margin-left: 10px;
    border-radius: 3px 7px 7px 3px;
    color: black;
    font-size: 14px;
    max-width: 70%;
    text-align: left;
    opacity: 0;
    
    word-break: break-all;
    animation: fadeIn 0.2s ease-in-out forwards;
    animation-delay: 0.2s;
}

.details {
    text-transform: uppercase;
    font-size: 11px;
    opacity: 0.9;
    margin-bottom: 3px;
    margin-left: 61px;
}

.sendby-user {
    text-align: right;
    height: auto;
}

.sendby-user img {
    float: right;
}

.sendby-user .details {
    margin-right: 61px;
}

.sendby-user .message {
    float: right;
    margin: 0 10px 0 0;
    border-radius: 7px 3px 3px 7px;
    background-color: #09cdfd;
}

.attachment img {
    width: auto;
    height: auto;
    display: block;
    float: right;
    margin-right: 10px;
    max-width: 30%;
    max-height: 30%;
    border-radius: 10px;
}

.attachment img:hover {
    cursor: pointer;
}

.light .details {
    color: rgba(0, 0, 0, 0.73);
}

.light .message {
    background-color: #cbcbcb;
}

.light .sendby-user .message {
    background-color: #09cdfd;
}

.light #chat-panel {
    background-color: #c6c6c6;
    border-top: 1px solid #989898;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.26);
    width: 100px;
}

.date-mark {
    margin: 0 auto;
    text-align: center;
    opacity: 0.3;
}

.mobile-menu {
    width: 100%;
    height: 75px;
    background-color: #191921;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.hamburger-icon, 
.hamburger-icon:after,
.hamburger-icon:before {
    display: block;
    content: '';
    width: 50px;
    height: 4px;
    background-color: #acb1bf;
    position: relative;
    top: 34px;
    left: 30px;
}

.hamburger-icon:before {
    top: -14px;
    left: 0;
}

.hamburger-icon:after {
    left: 0;
    top: 10px;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #2c2c2c;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: rgba(245, 245, 245, 0.45);
}

::-webkit-scrollbar-thumb
{
	background-color: #09cdfd;
    height: 100px;
}


@keyframes fadeIn {
    0% { transform: translateX(-5px);}
    100% { transform: translateX(0); opacity: 1;}
}


@media only screen and (max-width: 780px) {
    .panel {
        display: none;
    }
    
    #chat-window {
        padding: 20px;
        padding-top: 90px;
    }
    
    #chat-window, #chat-panel {
        left: 0;
        width: 100%;
    }
     
    .mobile-menu {
        display: block;
    }
}