<!-- macholl wciaga rogale -->
<!doctype html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>omegaChat</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../lib/vue/vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
<div id="app">
<!-- PANEL -->
<div class="panel">
    <img src="../resources/img/logo.png" alt="cosmo logo" class="logo">
    <div id="greeting">
        <div>
            Witaj, <span class="outstand">{{ nickname }}</span>!
        </div>
    </div>

    <div class="panel-list">
        <div class="list">
            <span class="list-title">Ustawienia</span>
            <ul>
                <li id="personalize-button"><i class="fa fa-picture-o" aria-hidden="true"></i>Personalizacja</li>
                
                <!-- PERSONALIZATION MENU -->
                <div id="personalize-content" class="hidden">
                    <span class="list-title">Zmiana avatara</span>
                    <img src="https://api.adorable.io/avatars/285/macholl.png">
                    <div id="personalize-avatar-menu">
                        <button id="send-file" class="button-main">Wybierz lokalny plik</button>
                        <input type="file" id="send-file-core">
                        <input type="text" id="send-link" placeholder="Lub link do obrazka">
                    </div>
                    <input type="submit" class="button-main" id="submit-avatar" value="Ustaw avatar">
                </div>
                
                <li class="no-arrow">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    Tryb ciemny
                    <label class="switch" id="theme-switcher">
                        <input type="checkbox" checked>
                        <div class="slider"></div>
                    </label>
                </li>
                <li class='red' v-on:click="logout"><i class="fa fa-sign-out" aria-hidden="true"></i><a>Wyloguj</a></li>
            </ul>
        </div>
        <div class="list">
            <span class="list-title">POKOJE</span>
            <ul>
                <li><i class="fa fa-comments-o" aria-hidden="true"></i>#2et <sup>12</sup></li>
                <li class='inactive'><i class="fa fa-comments-o" aria-hidden="true"></i>#hydepark</li>
                <li class='inactive'><i class="fa fa-comments-o" aria-hidden="true"></i>#wejherowo</li>
            </ul>
        </div>
        <div class="list">
            <span class="list-title">ZALOGOWANI</span>
            <ul id="online-users" v-if="onlineUsers && onlineUsers.length">
                <li v-for="onlineUser in onlineUsers">
                    <img v-bind:src="onlineUser.avatar">
                    {{ onlineUser.nickname }}
                </li>
            </ul>
        </div>
        <div class="list">
            <span class="list-title">admin panel</span>
            <ul>
                <li><i class="fa fa-picture-o" aria-hidden="true"></i>usuń wiadomości</li>
                <li>
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <label class="switch">
                        <input type="checkbox" checked>
                        <div class="slider"></div>
                    </label>
                </li>
                <li><i class="fa fa-picture-o" aria-hidden="true"></i>użytkownicy</li>
            </ul>
        </div>
    </div>
    <div class="panel-footer">Copyright 2017 @ mufoll.com</div>
</div>

<div id="chat-window">
    <div class="message-box">
        <img src="https://api.adorable.io/avatars/150/Muflon.png">
        <div class="details">
            <span class="author">Muflon</span> @ <span class="date">20:16</span>
        </div>
        <div class="message">
            No elo ziomeczki xD
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="message-box sendby-user">
        <img src="https://api.adorable.io/avatars/150/Macholl.png">
        <div class="details">
            <span class="author">Macholl</span> @ <span class="date">20:16</span>
        </div>
        <div class="message">
            Pomóc ci? bo mogę, nie ma najmniejszego problemu.
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="message-box">
        <img src="https://api.adorable.io/avatars/150/Stenzel.png">
        <div class="details">
            <span class="author">Stenzel</span> @ <span class="date">20:18</span>
        </div>
        <div class="message">
            TEJ SPOKOJNIE TAM
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="message-box sendby-user">
        <img src="https://api.adorable.io/avatars/150/Macholl.png">
        <div class="details">
            <span class="author">Macholl</span> @ <span class="date">20:16</span>
        </div>
        <div class="attachment">
            <img src="http://pandaznaet.ru/wp-content/uploads/2016/01/polskij-pamyatnik-pohozh-na-Darta-Vejdera-1.jpg" alt="">
        </div>
        <div style="clear: both;"></div>
    </div>
    <div class="message-box">
        <img src="https://api.adorable.io/avatars/150/Muflon.png">
        <div class="details">
            <span class="author">Muflon</span> @ <span class="date">20:16</span>
        </div>
        <div class="message">
            Szanuję xD
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
    
<div id="chat-panel">
    <form id="chat-input-form">
        <button class="chat-input-emoticons" onclick="return false;">
            :)
        </button>
        <input type="text" id="chat-input" autocomplete="off">
        <input type="submit" id="chat-input-submit" value="Wyślij" onclick="return false;">
    </form>
</div>
</div>
<script src="../js/chat.js"></script>
<script src="../js/panel-actions.js"></script>
</body>
</html>